<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns:wicket="http://wicket.apache.org">
<body>
<wicket:panel>
	<a wicket:id="first" class="btn btn-light first">&lt;&lt;</a>
	<a wicket:id="prev" rel="prev" class="btn btn-light prev">&lt;</a>
	<div class="btn-group" role="group" wicket:id="navigation">
			<button wicket:id="pageLink" class="btn btn-light goto">
				<span wicket:id="pageNumber">5</span>
			</button>
	</div>
	<a wicket:id="next" rel="next" class="btn btn-light next">&gt;</a>
	<a wicket:id="last" class="btn btn-light last">&gt;&gt;</a>
</wicket:panel>
</body>
</html>
