
html {
	font-size: 14px;
}

body {
	/*background: fixed url("../img/slider.jpg") no-repeat center 0;*/
	background-size: cover;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

#body-spacer {
	padding-top: 56px;
}

.white-element {
	background: white;
}

.login-holder {

}

.pricing-header {
	max-width: 700px;
}

.card-deck .card {
	min-width: 220px;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#connectWrapper {
	margin-top: 20%;
	color: white;
	background: rgba(13, 13, 13, 0.62);
	border: 1px solid #1C1C1C;
	text-align: center;
}

.blackelement {
	background: rgba(13, 13, 13, 0.62);
	border: 1px solid #4a4a4a;
	padding: 15px;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

tr.userRow td {
	background-color: rgba(255, 247, 0, 0.29);
}

#userBlock {
	color: white;
}

#userBlock a {
	color: white;
}

#userBlock a:hover {
	color: white;
	text-decoration: none;
}

.wicket-modal {
	color: #3f3f3f;
}

li.nav-item a {
	background: #ffffff7a;
	margin-right: 2px;
}

li.nav-item a.active {
	background: #ffffff7a;
}

li.nav-item li.nav-item {
	padding: 0 0 0 25px;
}

.tab-panel {
	background: white;
	padding: 15px 15px 15px 0px;
}

li.nav-item ul.nav {
	display: none;
}

li.nav-item.active ul.nav {
	display: block;
}

li.nav-item.nav-pills {
	margin-bottom: 2px;
}

.productContainer {
	padding: 15px;

}

.cardProductImg {
	height: 200px;
}

.TimeFrameDetail {
	margin: 0 0 15px 0;
}

.sidebar {
	position: fixed;
	top: 56px;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 0;
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 48px; /* Height of navbar */
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}

.sidebar .nav-link .feather {
	margin-right: 4px;
	color: #999;
}

.sidebar .nav-link.active {
	color: #007bff;
	background-color: transparent;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
	color: inherit;
}

.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}

.spaced-container {
	padding-top: 1rem;
}

.actionRow {
	padding: 0px 0px 15px 0px;
}

.card-body {
	position: relative;
}

.card-body .categHolder {
	position: absolute;
	right: 0px;
	top: 0px;
}

.categHolder .badge {
	display: block;
	margin: 2px 1px;
	width: fit-content;
}