
html {
	font-size: 14px;
}

body {
	//background: fixed url("../img/slider.jpg");
	background: no-repeat center 0;
	background-size: cover;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

#body-spacer {
	padding-top: 95px;
}

.white-element {
	background: white;
}

.login-holder {
	background: #dadada;
	border-radius: 5px;
	border: 1px solid white;
}

.pricing-header {
	max-width: 700px;
}

.card-deck .card {
	min-width: 220px;
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

#connectWrapper {
	margin-top: 20%;
	color: white;
	background: rgba(13, 13, 13, 0.62);
	border: 1px solid #1C1C1C;
	text-align: center;
}

.blackelement {
	background: rgba(13, 13, 13, 0.62);
	border: 1px solid #4a4a4a;
	padding: 15px;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

tr.userRow td{
	background-color: rgba(255, 247, 0, 0.29);
}

#userBlock {
	color: white;
}

#userBlock a{
	color: white;
}

#userBlock a:hover{
	color: white;
	text-decoration: none;
}

.wicket-modal {
	color: #3f3f3f;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #343a40;
}

li.nav-item a {
	background: #ffffff7a;
	margin-right: 2px;
}

li.nav-item a.active {
	background: #ffffff7a;
}

li.nav-item ul.nav>li.nav-item>a.nav-link.active{
	background: #5f686e;
}

.tab-panel {
	background: white;
	padding-right: 15px;
	padding-left: 15px;
}

li.nav-item.nav-pills {
	margin-bottom: 2px;
}

.productContainer {
	padding: 15px;

}

.cardProductImg{
	height: 200px;
}

.TimeFrameDetail {
	margin: 0 0 15px 0;
}