<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="ShiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
    </bean>
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="EveToolRealms"/>
            </list>
        </property>
        <property name="cacheManager" ref="cacheManager"/>
        <property name="sessionMode" value="native"/>
        <property name="sessionManager">
            <bean class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
                <property name="sessionListeners">
                    <list>
                        <bean class="com.rectuscorp.evetool.service.EveToolSessionListener"/>
                    </list>
                </property>
                <property name="sessionValidationInterval" value="5000"/>
            </bean>
        </property>
    </bean>
    <bean id="myRememberMeManager"
          class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cipherKey" ref="cipherKeyBytes"/>
    </bean>
    <bean id="cipherKeyBytes"
          class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="org.apache.shiro.codec.Base64"/>
        <property name="targetMethod" value="decode"/>
        <property name="arguments">
            <list>
                <value>9Jo0hLz8XhDpPsOOYOnSUA==</value>
            </list>
        </property>
    </bean>
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>
    <bean id="EveToolRealms" class="com.rectuscorp.evetool.realms.EveToolRealms"/>
    <bean id="lifecycleBeanPostProcessor" class="org.apache.shiro.spring.LifecycleBeanPostProcessor"/>
</beans>